@font-face {
    font-family: "MyFont";
    src: url("/fonts/GameOfThrones.ttf");
}

.customfont {
    font-family: "MyFont";
}

body {
    background: url(/assets/site/mapblue.jpg) repeat-x 0 0;
}

.left>div {
    box-sizing: border-box;
    float: left;
    font-family: "MyFont";
    font-size: 9px;
    margin: 9px 9px;
    max-width: 15%;
    padding: 10px 0px 0px 0px;
    text-align: center;
}

.left {
    float: left;
    width: 80%;
}

.right {
    float: left;
    background-color: rgb(29, 29, 29);
    width: 20%;
    height: auto;
}

.right>img {
    width: 100%;
    height: auto;
}

img {
    height: 60px;

}

.portrait {
    float: left;
    height: 90px;
    padding: 10px 0px 0px 0px;
    width: 100px;
}